<label for="recipe_name">Name</label>
<input id="recipe_name" name="recipe[name]" type="text" value="<%= @recipe.name %>">
</br>
<label for="recipe_ingredients">ingredients</label>
</br>
<textarea rows="8" cols="30" id="recipe_ingredients" name="recipe[ingredients]" type="text"><%= @recipe.ingredients %></textarea>
</br>
<label for="recipe_directions">Directions</label>
</br>
<textarea rows="8" cols="60" id="recipe_directions" name="recipe[directions]" type="text"><%= @recipe.directions %></textarea>
</br>
<a href="tags/new">Create a new tag</a>
</br>
</br>
<label for="recipe_tag">Add tags: </label>
</br>
  <% @tags.each_with_index do |tag, index| %>
    <input name="tag[<%= index %>]" type="checkbox" value="<%= tag.name %>"><%= tag.name %><br>
  <% end %>
</br>


