<label for="recipe_name">Name</label>
<input id="recipe_name" name="recipe[name]" type="text" value="<%= @recipe.name %>">
</br>
<label for="recipe_content">Content</label>
</br>
<textarea rows="8" cols="50" id="recipe_content" name="recipe[content]" type="text"><%= @recipe.content %></textarea>
</br>
<a href="tags/new">Create a new tag</a>
</br>
</br>
<label for="recipe_tag">Add tags: </label>
</br>
  <% @tags.each_with_index do |tag, index| %>
    <input name="tag[<%= index %>]" type="checkbox" value="<%= tag.name %>"><%= tag.name %><br>
  <% end %>
</br>


